<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Guess What.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB6B675D1BD3E3AB0037C6E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB6B67711BD3E3AB0037C6E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB6B677C1BD3E3AC0037C6E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
